
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --priv-low-black: #27273b;
  --priv-black: #1c1d30;
  --priv-high-black: #100f19;
  --priv-low-primary: #ff1c60;
  --priv-primary: #ff005c;
  --priv-high-primary: #cc0049;
  --priv-white-background: #fffff7;
  --priv-green: #06A561;
  

  /* color-scheme: light dark; */
  
  font-family: "Josefin Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.global_dark_mode .swal2-popup{
  background-color: var(--priv-low-black);
  color: var(--priv-white-background);
}

.global_dark_mode .swal2-title{
  color: var(--priv-primary);
}

*{
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;

}
